/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --primary:#e53935;
    --primary-dark:#c62828;
    --primary-light:#ffebee;

    --dark:#121212;
    --dark-card:#1f1f1f;

    --white:#ffffff;
    --gray:#f6f7fb;

    --text:#333;
    --text-light:#666;

    --shadow:0 10px 30px rgba(0,0,0,.08);
    --shadow-hover:0 15px 40px rgba(229,57,53,.20);

    --radius:18px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--gray);
    color:var(--text);
    line-height:1.6;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
    display:block;
}

button{
    cursor:pointer;
    border:none;
    outline:none;
}