{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cheremo Promised Shop</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'hero.css' %}">
    <link rel="stylesheet" href="{% static 'categories.css' %}">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    <link rel="stylesheet" href="{% static 'categories.css' %}">
    <link rel="stylesheet" href="{% static 'buy.css' %}">
    <link rel="stylesheet" href="{% static 'cart.css' %}">


</head>

<body>

<!-- ================= TOP HEADER ================= -->

<header class="top-header">

    <div class="logo">
        <a href="{% url 'home' %}">
            Cheremo <span>Promised Shop</span>
        </a>
    </div>

    <div class="search-area">

        <input
            type="text"
            placeholder="Search products, brands and categories..."
        >

        <button>
            Search
        </button>

    </div>

    <div class="header-icons">

        {% if user.is_authenticated %}

            <a href="{% url 'profile' %}">
                👤 {{ user.username }}
            </a>

            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

            {% if user.is_staff %}
                <a href="{% url 'admin_dashboard' %}">
                    Admin
                </a>
            {% endif %}

            <form action="{% url 'logout' %}" method="post">

                {% csrf_token %}

                <button class="logout-btn-nav">
                    Logout
                </button>

            </form>

        {% else %}

            <a href="{% url 'login' %}">
                Login
            </a>

            <a href="{% url 'signup' %}">
                Sign Up
            </a>

        {% endif %}

        <button id="mode-toggle">
            🌙
        </button>

    </div>

</header>

<!-- ================= MENU ================= -->

<nav class="menu">

    <a href="{% url 'home' %}">🏠 Home</a>

    <a href="#">📂 Categories</a>

    <a href="#">🔥 Deals</a>

    <a href="#">🆕 New Arrivals</a>

    <a href="#">❤️ Wishlist</a>

    <a href="#">🛒 Cart</a>

    <a href="#">📞 Contact</a>

</nav>

{% block content %}
{% endblock %}

<a href="https://wa.me/254719678760"
class="whatsapp-float"
target="_blank">

💬

</a>

<script>

const btn=document.getElementById("mode-toggle");

btn.onclick=function(){

document.body.classList.toggle("dark");

}
</script>


<script src="{% static 'js/slider.js' %}"></script>



</body>

</html>