{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheremo Promised Shop</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<nav>

    <div class="logo">
        <h2>Cheremo Promised Shop</h2>
    </div>

    <div class="search-box">
        <input type="text" placeholder="Search products...">
    </div>

    <div class="nav-links">

        <a href="{% url 'home' %}">Home</a>

        {% if user.is_authenticated %}

            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

            <a href="{% url 'profile' %}">
                Profile
            </a>

            {% if user.is_staff %}
            <a href="{% url 'admin_dashboard' %}">
                Admin
            </a>
            {% endif %}

            <span class="welcome-user">
                Hi, {{ user.username }}
            </span>

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn-nav">
                    Logout
                </button>
            </form>

        {% else %}

            <a href="{% url 'login' %}">
                Login
            </a>

            <a href="{% url 'signup' %}">
                Sign Up
            </a>

        {% endif %}

        <button id="mode-toggle">🌙</button>

    </div>

</nav>

{% block content %}
{% endblock %}

<a href="https://wa.me/254719678760"
   class="whatsapp-float"
   target="_blank">
   💬
</a>

<script>
const btn = document.getElementById("mode-toggle");

btn.addEventListener("click", () => {
    document.body.classList.toggle("dark");

    if(document.body.classList.contains("dark")){
        btn.innerHTML = "☀️";
    }else{
        btn.innerHTML = "🌙";
    }
});
</script>

</body>
</html>