{% extends 'base.html' %}

{% block content %}

<div class="buy-container">

    <div class="product-section">

        <img src="{{ product.image.url }}" alt="{{ product.name }}">

        <div class="product-details">
            <h1>{{ product.name }}</h1>

            <p>{{ product.description }}</p>

            <h2 class="price">
                KSh {{ product.price }}
            </h2>
        </div>

    </div>

    <div class="checkout-form">

        <h2>Complete Your Order</h2>

        <form method="POST">

            {% csrf_token %}

            <input
            type="text"
            name="name"
            placeholder="Full Name"
            required>

            <input
            type="text"
            name="phone"
            placeholder="Phone Number"
            required>

            <input
            type="text"
            name="location"
            placeholder="Town / Delivery Location"
            required>

            <button type="submit">
                Order via WhatsApp
            </button>

        </form>

    </div>

</div>

{% endblock %}