{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Cheremo Promised Shop</h1>
        <p>Find quality products at affordable prices.</p>
        <a href="#products">
            <button>Shop Now</button>
        </a>
    </div>
</section>

<div class="products" id="products">

{% for product in products %}

<div class="card">

    {% if product.price < 1000 %}
        <span class="badge">SALE</span>
    {% endif %}

    <img src="{{ product.image.url }}" alt="{{ product.name }}">

    <div class="card-content">

        <h3>{{ product.name }}</h3>

        <p>{{ product.description|truncatewords:15 }}</p>

        <div class="price">
            KSh {{ product.price }}
        </div>

        <a href="{% url 'buy_product' product.id %}">
            <button>Buy Now</button>
        </a>

        <button>Add To Cart</button>

    </div>

</div>

{% empty %}

<div class="empty-products">
    <h2>No Products Available</h2>
    <p>Add products from the Django Admin Panel.</p>
</div>

{% endfor %}

</div>

{% endblock %}